@import "tailwindcss";

/* pinyon script */
@font-face {
  font-family: "Pinyon Script";
  src: url("/fonts/pinyon-script/PinyonScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* zt bros oskon 90s */
@font-face {
  font-family: "ZT Bros Oskon 90s";
  src: url("/fonts/zt-bros-oskon-90s/ZTBrosOskon90s-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZT Bros Oskon 90s";
  src: url("/fonts/zt-bros-oskon-90s/ZTBrosOskon90s-ExtLtIta.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ZT Bros Oskon 90s";
  src: url("/fonts/zt-bros-oskon-90s/ZTBrosOskon90s-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZT Bros Oskon 90s";
  src: url("/fonts/zt-bros-oskon-90s/ZTBrosOskon90s-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ZT Bros Oskon 90s";
  src: url("/fonts/zt-bros-oskon-90s/ZTBrosOskon90s-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZT Bros Oskon 90s";
  src: url("/fonts/zt-bros-oskon-90s/ZTBrosOskon90s-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* bootzy tm */
@font-face {
  font-family: "Bootzy TM";
  src:
    url("/fonts/bootzy-tm/BootzyTM.woff2") format("woff2"),
    url("/fonts/bootzy-tm/BootzyTM.woff") format("woff"),
    url("/fonts/bootzy-tm/BootzyTM.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #1e2a12;
  --foreground: #fffaee;

  --font-pinyon-script: "Pinyon Script", cursive;
  --font-zt-bros-oskon-90s: "ZT Bros Oskon 90s", sans-serif;
  --font-bootzy-tm: "Bootzy TM", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pinyon-script: var(--font-pinyon-script);
  --font-zt-bros-oskon-90s: var(--font-zt-bros-oskon-90s);
  --font-bootzy-tm: var(--font-bootzy-tm);
}

html {
  text-transform: lowercase;
}

body {
  background: var(--background);
  color: var(--foreground);
}
